<!doctype html>
<html>
	<head>
		<title>Door Prizes!</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Oswald' rel='stylesheet' type='text/css'>
		<link href="/dist/default.css" rel="stylesheet" type='text/css'>
	</head>
	<body>
		<h1 class="heading">Eventbrite Doorprize Picker!</h1>
		<p>We need a couple of things from you to get started. Your oauth token and the eventid (you need to be the owner of the event) and then we will generate random people for you!</p>
		<form>
			<label class="form__item">oauth token: <input id="token" type="text" name="token"></label>
			<label class="form__item">eventid: <input id="event" type="text" name="event"></label>
			<button type="submit" id="submit" class="form__item form__item--button"> Get some randoms!</button>
		</form>

		<script src="/dist/default.js"></script>
	</body>
</html>